.nav {
  display:flex;
  min-height: 75px;
}

.name {
  width: 50vw;
  padding: 0;
  margin: 0;
  align-self: center;
  margin-left: 3vw;
}

.navul {
  display:flex;
  width: 50vw;
  justify-self: end;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  height: 100%;
  padding: 0 3vw;
  list-style: none;
}

.navul li{
  cursor: pointer;
  text-transform: capitalize;
  padding-top: 2vh;
}